@font-face {
    font-family: RedHatMono;
    src: url("../fonts/RedHatMono-VariableFont_wght.ttf") format("truetype");
}

body {
    font-style: RedHatMono;
}

#profilpic img {
    width: 50px;
    border-radius: 100%;
}